.section5-learn {
    padding-top: 90px;
    background-color: rgba(238, 238, 238, 1);
}
.section5Learn__container {
    text-align: center;
}
.section5Learn-title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;  
}
.section5Learn-block {
    border: 4px solid #fff;
    padding: 38px 30px 40px 30px;
    margin-top: 32px;
}
.section5Learn-subtitle {
    color: rgba(106, 31, 69, 1);
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    text-transform: uppercase;
}
.section5Learn-button {
    max-width: 193px;
    margin-top: 43px;
    color: rgba(70, 91, 113, 1);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    padding: 18px 15px;
    border: 1px solid rgba(70, 91, 113, 1);
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}
.section5Learn-button:hover {
    color: #fff;
    background-color: rgba(70, 91, 113, 1);
}

@media (width < 600px) {
    .section5-learn {
        padding-top: 57px;
    }
    .section5Learn-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;     
    }
    .section5Learn-subtitle {
        font-size: 21px;
        font-weight: 500;
        line-height: 26px;       
    }
    .section5Learn-block {
        padding: 16px 25px 34px 25px;
    }
}

@media (width < 430px) {
    .section5Learn-button {
        display: none;
    }
}