.section8-form {
    background-color: rgba(106, 31, 69, 0.12);
}
.section8Form__container {
    text-align: center;
}
.section8Form-title {
    padding-top: 60px;
    color: rgba(106, 31, 69, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
.section8Form-block {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.section8Form-block img {
    border-radius: 15px;
    margin-bottom: 73px;
}
.section8Form-formBlock {
    width: 100%;
    padding: 21px 0px 0px 0px;
    margin: 0px 0px 18px 42px;
}
.section8Form-forms {
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 22px;
}
.section8Form-form {
    width: 100%;
}
.section8Form-formTextarea {
    max-width: 650px;
    text-align: left;
    padding-top: 22px;
}
.section8Form-comment {
    min-width: 100%;
    max-width: 100%;
    min-height: 96px;
    max-height: 96px;
}
.section8Form-input {
    width: 100%;
    padding: 15px 18px;
}
.section8Form-input::placeholder {
    color: #000;
}
.section8Form-input {
    border: 1px solid rgba(175, 138, 157, 1);
}
.section8Form-button {
    display: flex;
    color: #fff;
    background: rgba(106, 31, 69, 1);
    padding: 18px 56px;
    margin-top: 21px;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    transition: all 0.2s ease 0s;
}
.section8Form-button:hover {
    background-color: rgb(175, 94, 135);
}

/* join block */
.section8Form-join {
    padding-top: 59px;
    padding-bottom: 55px;
    background-color: rgba(238, 238, 238, 1);
}
.section8FormJoin__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.section8FormJoin-titleBlock {
}
.section8FormJoin-title {
    color: rgba(70, 91, 113, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}
.section8FormJoin-joinBlock {
    display: flex;
    align-items: center;
}
.section8FormJoin-form {
    height: 66px;
}
.section8FormJoin-input {
    padding: 21px 25px 22px 25px;
    height: 100%;
    border: 1px solid rgba(170, 170, 170, 0.5);
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.section8FormJoin-input::placeholder {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.section8FormJoin-inputFirstName {
    width: 290px;
    border-radius: 15px 0px 0px 15px;
}
.section8FormJoin-inputEmail {
    width: 310px;
    border-left: none;
}
.section8FormJoin-button {
    width: 111px;
    height: 66px;
    color: #fff;
    background-color: rgba(106, 31, 69, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 20px 27px 25px 27px;
    border-radius: 0px 15px 15px 0px;
    transition: all 0.2s ease 0s;
}
.section8FormJoin-button:hover {
    background-color: rgb(175, 94, 135);
}

@media (width < 1100px) {
    .section8Form-block {
        align-items: center;
    }
    .section8Form-block img {
        max-width: 408px;
        max-height: 238px;
    }
    .section8Form-formBlock {
        margin: 0px 0px 18px 22px;
    }

    .section8FormJoin__container {
        display: grid;
        justify-content: center;
        gap: 25px;
    }
}
@media (width < 991px) {
    .section8Form-block {
        display: grid;
        justify-content: center;
    }
    .section8Form-block img {
        max-width: 100%;
        max-height: 100%;
        margin: 0px auto 33px auto;
    }
    .section8Form-formBlock {
        margin: 0px 0px 36px 0px;
    }
}
@media (width < 779px) {
    .section8Form-forms {
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
    }

    .section8FormJoin-joinBlock {
        display: grid;
    }
    .section8FormJoin-inputFirstName {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }
    .section8FormJoin-inputEmail {
        width: 100%;
        border-left: 1px solid rgba(170, 170, 170, 0.5);
        border-top: none;
        border-radius: 0px 0px 8px 8px;
    }
    .section8FormJoin-button {
        display: flex;
        margin: 0 auto;
        margin-top: 15px;
        width: auto;
        height: auto;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding: 13px 52px;
        border-radius: 6px;
    }
}
@media (width < 500px) {
    .section8Form-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        padding-top: 35px;
    }
    .section8Form-block {
        padding-top: 15px;
    }
    .section8Form-input::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.02em;
    }
    .section8Form-button {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding: 11px 39px 13px 39px;
    }

    .section8Form-join {
        padding-top: 28px;
    }
    .section8FormJoin-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
}