.section3-why {
    padding-top: 305px;
}
.section3Why__container {
    text-align: center;
}
.section3Why-title {
    color: rgba(106, 31, 69, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;  
}
.section3Why-text {
    padding-top: 21px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;  
}
.section3Why-block {
    padding-top: 90px;
}
.section3WhyBlock-title {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
}
.section3Why-flex {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.section3WhyBlock-article {
    width: 100%;
}
.section3WhyBlock-titleBlock {
    position: relative;
    bottom: -29px;
    max-width: 412px;
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    background-color: rgba(106, 31, 69, 1);
    border-radius: 8px;
    padding: 10px 15px 14px 15px;
    margin: 0 auto;
}
.section3WhyBlock-menu {
    max-height: 503px;
}
.section3WhyBlock-items {
    display: grid;
    height: 503px;
    grid-template-columns: repeat(2,2fr);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 96px 30px 53px 30px;
    row-gap: 46px;
}
.section3WhyBlock-item {
}
.section3WhyBlock-item img {
    max-width: 100%;
}
.section3WhyBlock-subtitle {
    padding-top: 22px;
}
@media (max-width: 991px) {
    .section3Why-flex {
        flex-direction: column;
        gap: 100px;
    }
}
@media (max-width: 460px) {
    .section3Why-flex {
        gap: 22px;
    }
    .section3Why-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;  
    }
    .section3Why-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;  
    }
    .section3WhyBlock-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }
    .section3Why-block {
        padding-top: 48px;
    }
    .section3WhyBlock-titleBlock {
        max-width: 220px;
        padding: 7px 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;  
        bottom: -16px;
    }
    .section3WhyBlock-item img {
        max-width: 50px;
    }
    .section3WhyBlock-items {
        height: 100%;
        row-gap: 20px;
        column-gap: 20px;
        padding: 38px 10px 20px 10px;
    }
    .section3WhyBlock-subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; 
    }
    .section3WhyBlock-subtitle br {
        display: none;
    }

    /* .section3WhyBlock-items {
        grid-template-columns: repeat(1,1fr);
    }
    .section3WhyBlock-titleBlock {
        margin: 0 15px;
    } */
}