.section1-home {
    padding-top: 74px;
}
.section1__container {
    position: relative;
}
.homeContract-article {
}
.homeContract-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: rgba(106, 31, 69, 1);
    text-align: center;
}
.homeContract-nav {
    padding-top: 80px;
}
.homeContract-items {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 91px;
}
.homeContract-item {
    display: grid;
    max-width: 450px;
}
.homeContract-imgBlock {
    display: flex;
    position: relative;
    margin-bottom: 23px;
}
.homeContract-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 86px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 15px 15px;
}
.homeContract-imgBlock-subtitle {
    position: absolute;
    width: 100%;
    bottom: 31px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}
.homeContract-imgBlock img {
    max-width: 100%;
}
.homeContract-button {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #fff;
    background-color: rgba(106, 32, 69, 1);
    padding: 24px 44px;
    border-radius: 15px;
    margin: 0 auto;
    transition: background 0.3s ease 0s;
}
.homeContract-button:hover {
    background-color: rgb(175, 94, 135);
}
.homeContract-bottomText {
    padding-top: 18px;
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(106, 31, 69, 1);
}

.home-section-background1 {
    position: absolute;
    top: -180px;
    left: -290px;
    z-index: -1;
}
.home-section-background2 {
    position: absolute;
    top: -19px;
    right: -290px;
    z-index: -1;
}

@media (max-width: 991px) {
    .homeContract-items {
        gap: 50px;
    }
}

@media (max-width: 779px) {
    .homeContract-items {
        display: grid;
        gap: 30px;
    }
    .homeContract-title br {
        display: none;
    }
}

@media (max-width: 600px) {
    .homeContract-title {
        font-size: 32px;
    }
    .homeContract-nav {
        padding-top: 30px;
    }
}

@media (max-width: 520px) {
    .home-section1 {
        padding-top: 40px;
    }
    .homeContract-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.02em;
    }
}

@media (width < 450px) {
    .homeContract-background {
        height: 60px;
    }
    .homeContract-imgBlock-subtitle {
        bottom: 15px;
    }
}

@media (width < 380px) {
    .homeContract-background {
        height: 47px;
    }
    .homeContract-imgBlock-subtitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;     
    }
    .homeContract-button {
        padding: 16px 25px;
        font-size: 21px;
        font-weight: 400;
        line-height: 26px;    
    }
    .homeContract-background,
    .homeContract-imgBlock img {
        max-width: 250px;
    }
    .homeContract-imgBlock {
        justify-content: center;
    }
    .homeContract-bottomText {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;     
    }
}