.block-10-employers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background: #E2EAF2;
}

.block-10-employers-cards {
  display: flex;
  
}

.block-10-employers-h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: center;
  
}

.block-10-employers-h1 {
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: center;
}

.block-10-employers-card-bottom {
  width: 349px;
  height: 160px;
  border-radius: 0px 0px 10px 10px;
  background: #ffffff;
}

/* .section5-learn {
  padding-top: 90px;
  background-color: rgba(238, 238, 238, 1);
}
.section5Learn__container {
  text-align: center;
}
.section5Learn-title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;  
}
.section5Learn-block {
  border: 4px solid #fff;
  padding: 38px 88px 40px 88px;
  margin-top: 32px;
}
.section5Learn-subtitle {
  color: rgba(106, 31, 69, 1);
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  text-transform: uppercase;
}
.section5Learn-button {
  margin-top: 43px;
  color: rgba(70, 91, 113, 1);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding: 18px 40px;
  border: 1px solid rgba(70, 91, 113, 1);
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.section5Learn-button:hover {
  color: #fff;
  background-color: rgba(70, 91, 113, 1);
} */