.block-1-employers {
  padding: 50px 0 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-employers-h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #6A1F45;
  margin-bottom: 60px;
}

.block-1-employers-box {
  width: 1300px;
  height: 421px;
  border-radius: 16px;
  background: #F4F4F4;
  display: flex;
  justify-content: space-between;
}

.block-1-employers-box-left {
  margin-left: 90px;
  margin-top: 130px;
}


.block-1-employers-box-left h2{
  font-size: 21px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 30px;
}

.block-1-employers-box-left p{
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: left;
}

.block-1-employers-box-right img{
  width: 633px;
  height: 421px;
  border-radius: 0px 16px 16px 0px;
}