.staticSwiperBlock-menu {
    padding-top: 42px;
}
.staticSwiperBlock-items {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 40px;
}
.staticSwiperBlock-item {
}
.staticSwiperBlock-item img {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.staticSwiperBlock-downBlock {
    max-width: 349px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    background-color: rgba(255, 255, 255, 1);
    padding: 19px 20px;
    border-radius: 0px 0px 10px 10px;
}
.staticSwiperBlock-textBlock {
}
.staticSwiperBlock-date {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}
.staticSwiperBlock-subtitle {
    padding-top: 7px;
    color: rgba(106, 31, 69, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; 
}
.staticSwiperBlock-flex-a {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.staticSwiperBlock-a {
    color: #fff;
    background: rgba(70, 91, 113, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    padding: 5px 11px 7px 11px;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}
.staticSwiperBlock-a:hover {
    color: rgba(70, 91, 113, 1);
    background-color: #fff;
    outline: 2px solid rgba(70, 91, 113, 1);
}

@media (width < 991px) {
    .staticSwiperBlock-items {
        flex-wrap: wrap;
    }
}

@media (width < 600px) {
    .staticSwiperBlock-items {
        gap: 17px;
    }
    .staticSwiperBlock-menu {
        padding-top: 17px;
    }
    .staticSwiperBlock-downBlock {
        min-height: auto;
    }
}

@media (width < 430px) {
    .staticSwiperBlock-date {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;    
    }
    .staticSwiperBlock-subtitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px; 
    }
}