.header {
    background-color: #6A1F45;
}
.header__cont {
    display: flex;
    align-items: center;
    padding: 16px;
    max-width: 1720px;
    margin: 0 auto;
}
.headerBlock-logo {
    cursor: pointer;
}
.headerBlock-menu {
    display: grid;
    margin-left: auto;
    gap: 11px;
}
.blockMenu-numberSocial {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 35px;
}
.block-number {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    gap: 6px;
    text-decoration: underline;
    cursor: pointer;
}
.block-number:hover {
    text-decoration: none;
}
.block-social {
    display: block;
}
.social-items {
    display: flex;
    align-items: end;
    gap: 23px;
}
.social-item {
    cursor: pointer;
}
.blockMenu-navigation {
    display: block;
}
.navigation-items {
    display: flex;
    align-items: center;
    gap: 54px;
}
.navigation-item {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px; 
    cursor: pointer;
}
.navigation-item:hover {
    text-decoration: underline;
}
.header-bottom {
    height: 10px;
    width: 100%;
    background-color: rgba(106, 31, 69, 0.3);
}

.header__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    margin-left: 24px;
}
.burger-line {
  display: none;
  background: #fff;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  transition: transform 0.3s ease;
}
.burger-line:nth-child(1) {
  top: 0;
}
.burger-line:nth-child(2) {
  top: 50%;  
  transform: translateY(-50%);
}
.burger-line:nth-child(3) {
  bottom: 0;
}
.header__burger.cross .burger-line:nth-child(1) {
  transform: rotate(-45deg) translate(-12px);
}

.header__burger.cross .burger-line:nth-child(2) {
  opacity: 0;
}

.header__burger.cross .burger-line:nth-child(3) {
  transform: rotate(45deg) translate(-12px);
}

@media(max-width: 1100px) {
    .navigation-items {
        gap: 30px;
    }
}
@media(max-width: 769px) {
    .blockMenu-navigation {
        display: none;
    }
    .block-social {
        display: none;
    }
    .block-number {
        margin-left: auto;
    }

    .header__burger,
    .burger-line {
        display: block;
    }
}
@media (max-width: 500px) {
    .headerBlock-logo img {
        width: 106px; ;
    }
    .block-number img {
        width: 14px;
    }
    .block-number {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;    
    }
}